/* page.module.css */

/* Main container of your app, which includes the sidebar and main content */
.container {
  display: flex;
  height: 100vh; /* Take full height of the viewport */
}

/* The sidebar styles */
.sidebar {
  background: #FFFFFF;
  padding: 1rem;
  width: 240px;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.sidebar nav {
  margin-top: 20px; /* Spacing at the top inside the sidebar */
}
.navItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.navItem:not(:last-child) {
  margin-bottom: 10px; /* Spacing between nav items */
}

.navItem:hover {
  background-color: #ececec; /* Light grey background on hover */
}
/* Logo style, adjust as necessary */
.lutronLogo {
  max-width: 80%; /* Adjust the size of the logo */
  margin-bottom: 2rem;
  align-self: center; /* Center the logo in the sidebar */
}

/* Navigation buttons within the sidebar */
.navButton {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; 
}

.navButton:hover {
  background-color: #e4e4e4; /* A light grey for hover state */
}

/* Logout button at the bottom of the sidebar */
.logoutButton {
  background: none;
  border: none;
  color: #1E75BB;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
}


.logoutButton:hover {
  background-color: #e4e4e4;
}

/* Main content area */
.mainContent {
  flex-grow: 1;
  padding: 2rem;
  background-color: #F9F9F9;
}

/* Search bar at the top of the main content */
.searchBar {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 20px; /* Adjust the margin as needed */
  display: flex;
  align-items: center;
}

.searchInput {
  border: none;
  outline: none;
  padding-left: 10px;
  margin-right: 10px;
  width: 100%; /* Full width */
}

.button {
  background-image: linear-gradient(145deg, #ffffff, #ffffff); /* Subtle gradient for depth */
  color: rgb(0, 0, 0);
  border: none;
  padding: 0.6rem 1.2rem; /* Slightly increased padding for a better touch area */
  margin-left: 1rem;
  cursor: pointer;
  border-radius: var(--border-radius); /* Assuming --border-radius is defined elsewhere in your CSS */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transitions for hover effects */
  font-weight: 500; /* Slightly bolder font for clarity */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15); /* Subtle shadow for a floating effect */
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Mild text shadow for depth */
  margin-bottom: .5rem;
}

.button:hover {
  transform: translateY(-3px); /* Slight lift effect on hover */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow for a more pronounced hover effect */
}

/* Specific styles for your prompt text */
.prompt {
  color: #7A7A7A; /* Light gray color for the text */
  margin-left: 20px; /* Give some space from the left */
}

.fileList {
  display: flex;
  flex-wrap: wrap;
  /* Add more styles for layout */
}

.fileItem {
  cursor: pointer;
  margin: 10px;
  /* Add more styles for individual file items */
}

.fileIcon {
  width: 200px; /* Or any appropriate size */
  margin-right: 40px;
  /* Add more styles for the PDF icon */
}

.fileName {

  /* Add more styles for the file name text */
}

/* Icon button styles */
.iconButton {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  color: #333; /* Icon color */
}

.iconButton:not(:last-child) {
  margin-bottom: 10px; /* Spacing between icon buttons */
}

.iconButton:hover {
  background-color: #ececec; /* Light grey background on hover */
}

.iconButton svg {
  margin-right: 10px; /* Space between icon and text */
  fill: currentColor; /* Icon color inherits from button color */
}

/* Example with FontAwesome icons */
/* Ensure you include FontAwesome in your project for these classes to work */
.fa-icon {
  margin-right: 10px; /* Space between icon and text */
}