/* page.module.css */

/* Main container of your app, which includes the sidebar and main content */
.container {
  display: flex;
  height: 100vh; /* Take full height of the viewport */
}

/* The sidebar styles */
.sidebar {
  width: var(--sidebar-width); /* Use the global variable for consistent sizing */
  background: var(--sidebar-bg-color); /* Use the global color variable */
  padding: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

/* Logo style, adjust as necessary */
.lutronLogo {
  max-width: 80%; /* Adjust the size of the logo */
  margin-bottom: 2rem;
  align-self: center; /* Center the logo in the sidebar */
}

/* Navigation buttons within the sidebar */
.navButton {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #e4e4e4; /* A light grey for hover state */
}

/* Logout button at the bottom of the sidebar */
.logoutButton {
  margin-top: auto; /* Push it to the bottom */
  padding: 0.5rem 1rem;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #e4e4e4;
}

/* Main content area */
.mainContent {
  flex-grow: 1;
  overflow-y: auto; /* In case of scrolling */
  padding: 2rem;
  background-color: #fff; /* A neutral white background */
}

/* Search bar at the top of the main content */
.searchBar {
  display: flex;
  margin-bottom: 1rem;
}

.searchInput {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc; /* A light grey border */
  border-radius: var(--border-radius); /* Use the global border-radius variable */
}

/* Button used in your main content area, like the "New" button */
.button {
  background-color: #1E75BB; /* Brand color for the button background */
  color: white; /* White text color */
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem; /* Space it out from other elements */
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darken(#1E75BB, 10%); /* Darken the button on hover */
}

/* Specific styles for your prompt text */
.prompt {
  font-size: 1rem;
  color: #666; /* A medium grey for the prompt text */
  padding: 1rem;
}

