/* page.module.css */

/* Main container of your app, which includes the sidebar and main content */
.container {
  display: flex;
  height: 100vh; /* Take full height of the viewport */
}

/* The sidebar styles */
.sidebar {
  background: #FFFFFF;
  padding: 1rem;
  width: 240px;
  height: 100vh;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.sidebar nav {
  margin-top: 20px; /* Spacing at the top inside the sidebar */
}
.navItem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.navItem:not(:last-child) {
  margin-bottom: 10px; /* Spacing between nav items */
}

.navItem:hover {
  background-color: #ececec; /* Light grey background on hover */
}
/* Logo style, adjust as necessary */
.lutronLogo {
  max-width: 80%; /* Adjust the size of the logo */
  margin-bottom: 2rem;
  align-self: center; /* Center the logo in the sidebar */
}

/* Navigation buttons within the sidebar */
.navButton {
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navButton:hover {
  background-color: #e4e4e4; /* A light grey for hover state */
}

/* Logout button at the bottom of the sidebar */
.logoutButton {
  background: none;
  border: none;
  color: #1E75BB;
  padding: 10px 20px;
  text-align: left;
  cursor: pointer;
}


.logoutButton:hover {
  background-color: #e4e4e4;
}

/* Main content area */
.mainContent {
  flex-grow: 1;
  padding: 2rem;
  background-color: #F9F9F9;
}

/* Search bar at the top of the main content */
.searchBar {
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 10px 15px;
  margin-bottom: 20px; /* Adjust the margin as needed */
  display: flex;
  align-items: center;
}

.searchInput {
  border: none;
  outline: none;
  padding-left: 10px;
  margin-right: 10px;
  width: 100%; /* Full width */
}

/* Button used in your main content area, like the "New" button */
.button {
  background-color: #1E75BB; /* Brand color for the button background */
  color: white; /* White text color */
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 1rem; /* Space it out from other elements */
  cursor: pointer;
  border-radius: var(--border-radius);
  transition: background-color 0.3s;
}

.button:hover {
  background-color: darken(#1E75BB, 10%); /* Darken the button on hover */
}

/* Specific styles for your prompt text */
.prompt {
  color: #7A7A7A; /* Light gray color for the text */
  margin-left: 20px; /* Give some space from the left */
}

.newButton {
  background-color: #fff;
  border: 1px solid #D3D3D3; /* Light gray border */
  border-radius: 20px;
  color: #000000;
  padding: 10px 15px;
  margin-bottom: 20px; /* Space between button and prompt */
  cursor: pointer;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
