.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
  }
  
  .file-chooser-container {
	transition: all 0.5s ease-in-out;
  }
  
  
  .text-center {
	text-align: center;
  }
  
  .file-input {
	display: none;
  }
  
  .file-label {
	cursor: pointer;
	background-color: white;
	border: 2px dashed #ccc;
	border-radius: 8px;
	padding: 16px;
	display: inline-flex;
	align-items: center;
	gap: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .file-label:hover {
	background-color: #f9f9f9;
  }
  
  .upload-icon {
	color: #3498db;
  }
  
  .pdf-viewer {
	display: none;
	width: 100%;
	flex-grow: 1;
	transition: all 0.5s ease-in-out;
  }
  
  .file-chooser-small {
	position: absolute;
	bottom: 30%; /* Adjust if necessary to ensure visibility */
	right: 10%; /* Adjust if necessary to ensure visibility */
	z-index: 10; /* Ensures the file chooser stays above the PDF viewer */
  }
  
  /* Ensure .pdf-viewer does not overlap the file chooser */
  .pdf-viewer-visible {
	display: block;
	width: 100%; /* Adjust width if necessary to prevent overlap */
  }

  .page-switch{
	margin-top: 1rem;
  }

  
  
  /* CSS */
  .button-71 {
	background-color: rgb(11, 93, 244);
	border: 0;
	border-radius: 56px;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: system-ui,-apple-system,system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
	font-size: 18px;
	font-weight: 600;
	outline: 0;
	padding: 16px 21px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin-top: 1rem;
  }
  
  .button-71:before {
	background-color: initial;
	background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
	border-radius: 125px;
	content: "";
	height: 50%;
	left: 4%;
	opacity: .5;
	position: absolute;
	top: 0;
	transition: all .3s;
	width: 92%;
  }
  
  .button-71:hover {
	box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
	transform: scale(1.05);
  }
  
  @media (min-width: 768px) {
	.button-71 {
	  padding: 16px 48px;
	}
  }
  .buttons{
	display: flex;
	flex-direction: column;
	margin-right: -2rem;
  }