.app-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
  }
  
  .file-chooser-container {
	transition: all 0.5s ease-in-out;
  }
  
  
  .text-center {
	text-align: center;
  }
  
  .file-input {
	display: none;
  }
  
  .file-label {
	cursor: pointer;
	background-color: white;
	border: 2px dashed #ccc;
	border-radius: 8px;
	padding: 16px;
	display: inline-flex;
	align-items: center;
	gap: 12px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .file-label:hover {
	background-color: #f9f9f9;
  }
  
  .upload-icon {
	color: #3498db;
  }
  
  .pdf-viewer {
	display: none;
	width: 100%;
	flex-grow: 1;
	transition: all 0.5s ease-in-out;
  }
  
  .file-chooser-small {
	position: absolute;
	bottom: 30%; /* Adjust if necessary to ensure visibility */
	right: 10%; /* Adjust if necessary to ensure visibility */
	z-index: 10; /* Ensures the file chooser stays above the PDF viewer */
  }
  
  /* Ensure .pdf-viewer does not overlap the file chooser */
  .pdf-viewer-visible {
	display: block;
	width: 100%; /* Adjust width if necessary to prevent overlap */
  }